:root {
  --blue-500: hsl(215, 51%, 70%);
  --cyan-400: hsl(178, 100%, 50%);
  --blue-950: hsl(217, 54%, 11%);
  --blue-900: hsl(216, 50%, 16%);
  --blue-800: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--blue-950);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--blue-900);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
}

.wrapper header {
  position: relative;
  border-radius: 0.75rem;
  background-image: url("./images/image-equilibrium.jpg");
  background-position: center top;
  background-size: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* overlay */
header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

header:hover::after {
  background-color: hsla(178, 100%, 50%, 0.3);
}

/* icon invisible by default */
header .icon-view {
  opacity: 0;
  transition: opacity 0.3s ease;
}

header:hover .icon-view {
  opacity: 1;
}

h1 {
  color: var(--white);
  font-size: 1.3rem;
  margin: 1.2rem 0 0.7rem;
}

h1:hover {
  color: var(--cyan-400);
  cursor: pointer;
}

p {
  font-size: 1rem;
  color: var(--blue-500);
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
  border-bottom: 1px solid var(--blue-800);
}

.cryptocurrency {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: var(--cyan-400);
  font-size: 0.95rem;
}

.timeleft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: var(--blue-500);
  font-size: 0.95rem;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  color: var(--blue-500);
  font-size: 1rem;
}

footer img {
  width: 2rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}

footer p {
  color: var(--blue-500);
  margin-left: 1rem;
}

footer span {
  color: var(--white);
}

footer span:hover {
  color: var(--cyan-400);
  cursor: pointer;
}
