:root {
  --clr-gray-50: hsl(0, 0%, 98%);
  --clr-gray-500: hsl(0, 0%, 41%);
  --clr-gray-950: hsl(0, 0%, 8%);
}

html {
  font-size: 18px;
}

body {
  font-family: "Epilogue", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
