:root {
  --clr-gray-50: hsl(0, 0%, 98%);
  --clr-gray-500: hsl(0, 0%, 41%);
  --clr-gray-950: hsl(0, 0%, 8%);
}

html {
  font-size: 18px;
}

body {
  font-family: "Epilogue", sans-serif;
}

/* ===============================
   Page
=============================== */
.page {
  position: relative;
  display: flex;
  justify-content: center;
}

.page__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  min-height: 100dvh;
}

/* ===============================
   Header
=============================== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.header__logo {
  width: 84px;
  height: 27px;
}

.header__toggle {
  border-style: none;
  background: none;
  cursor: pointer;
}

.header__toggle-icon {
  width: 24px;
  height: 16px;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  background: hsl(0 0% 0% / 0.7);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.overlay.visible {
  opacity: 1;
  pointer-events: all;
}

/* ===============================
   Navigation
=============================== */
.nav {
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 65%;
  height: 100dvh;
  padding: 5rem 1rem;
  overflow-y: auto;
  background: hsl(0 0% 98%);
  transition: right 0.3s ease;
  z-index: 10;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-style: none;
  background: none;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.nav__item {
  margin-bottom: 1rem;
}

.nav__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--clr-gray-500);
  background: none;
  border-style: none;
  text-decoration: none;
}

.nav__dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.nav__dropdown:last-child {
  margin: 1rem 0 0;
}

.nav__dropdown-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 1.5rem;
  color: var(--clr-gray-500);
}

.nav__dropdown-icon {
  width: 20px;
  height: auto;
}

.icon-todo {
  color: #726cee;
}

.icon-calendar {
  color: #4bb1da;
}

.icon-reminders {
  color: #edd556;
}

.icon-planning {
  color: #8e4cb6;
}

.nav__auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.nav__auth-button {
  background: none;
  text-decoration: none;
  color: var(--clr-gray-500);
  cursor: pointer;
}

.nav__auth-button--register {
  padding: 0.5rem;
  border: 2px solid var(--clr-gray-500);
  width: 100%;
  text-align: center;
  border-radius: 0.8rem;
}

nav.open {
  right: 0;
}

body.nav-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/* ===============================
   Hero Section
=============================== */
.hero {
  background-image: url("images/image-hero-mobile.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

/* ===============================
   Main
=============================== */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
}

.main__text {
  font-size: 0.95rem;
  text-align: center;
  color: var(--clr-gray-500);
}

.main__button {
  background-color: var(--clr-gray-950);
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 0.8rem;
  color: var(--clr-gray-50);
}

/* ===============================
   Footer
=============================== */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

/* ===============================
   Clients
=============================== */
.clients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

.clients__logo {
  width: 70px;
  height: auto;
  color: var(--clr-gray-500);
}

.hidden {
  display: none;
}
