/* Kleuren en typografie */
:root {
  /* Primary */
  --color-teal-500-light: hsl(179, 47%, 51%);
  --color-teal-500: hsl(179, 62%, 43%);
  --color-green-400: hsl(71, 73%, 54%);

  /* Neutral */
  --color-teal-100: hsl(204, 43%, 93%);
  --color-gray-500: hsl(218, 22%, 67%);
}

html {
  font-size: 16px;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--color-teal-100);
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.top-box {
  background-color: hsl(0, 100%, 100%);
  width: 100%;
  height: auto;
  padding: 1.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.left-box {
  background-color: var(--color-teal-500);
  width: 100%;
  height: auto;
  padding: 1.5rem;
}

.right-box {
  background-color: var(--color-teal-500-light);
  width: 100%;
  height: auto;
  padding: 1.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

h1 {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--color-teal-500);
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--color-teal-100);
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-green-400);
  margin-bottom: 1rem;
}

p {
  font-size: 0.8rem;
  color: var(--color-gray-500);
}
