/* Kleuren en typografie */
:root {
  /* Primary */
  --color-teal-500: hsl(179, 62%, 43%);
  --color-green-400: hsl(71, 73%, 54%);

  /* Neutral */
  --color-teal-100: hsl(204, 43%, 93%);
  --color-gray-500: hsl(218, 22%, 67%);
}

html {
  font-size: 16px;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
}
