:root {
  /* Primary */
  --color-soft-orange: hsl(35, 77%, 62%);
  --color-soft-red: hsl(5, 85%, 63%);

  /* Neutral */
  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue: hsl(233, 8%, 79%);
  --color-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-very-dark-blue: hsl(240, 100%, 5%);
}

html {
  font-size: 15px;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-off-white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 2rem 0 4rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
}

header img.logo {
  height: 30px;
  width: auto;
}

header img.menu-hamburger {
  display: block;
  cursor: pointer;
}

header .overlay {
  position: fixed;
  top: 0;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.6);
  opacity: 0; /* overlay is transparent */
  pointer-events: none; /* everything below the overlay is still clickable */
  z-index: 5;
}

header .overlay.active {
  opacity: 1;
  pointer-events: auto;
}

header .menu-mobile {
  position: fixed;
  top: 0;
  right: -100%;
  width: 68%;
  height: 100vh;
  background-color: var(--color-off-white);
  z-index: 10;
}

header .menu-mobile .menu-close img {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

header .menu-mobile ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 9rem 0 0 1.5rem;
}

header .menu-mobile li {
  font-size: 1.5rem;
}

header .menu-desktop {
  display: none;
}

article .hero {
  background-image: url("./assets/images/image-web-3-mobile.jpg");
  background-repeat: none;
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 300px;
}

article h1 {
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 2.8rem;
  margin: 1.5rem 0;
}

article p {
  color: var(--color-grayish-blue);
}

article button {
  display: block;
  background-color: var(--color-soft-red);
  border: none;
  padding: 0.8rem;
  width: 50%;
  color: hsl(0, 0%, 0%);
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem 0 4rem;
}

article button:hover {
  color: var(--color-off-white);
  background-color: var(--color-very-dark-blue);
  cursor: pointer;
}

ul.new-media-item {
  background-color: var(--color-very-dark-blue);
  color: var(--color-off-white);
  padding: 1.5rem 1.5rem 0;
}

ul.new-media-item span {
  color: var(--color-soft-orange);
  font-size: 2rem;
  font-weight: 700;
}

ul.new-media-item h2 {
  font-size: 1.37rem;
  margin: 2rem 0 0.5rem;
}

ul.new-media-item h2 a {
  color: inherit;
  text-decoration: none;
}

ul.new-media-item h2 a:hover {
  cursor: pointer;
  color: var(--color-soft-orange);
}

ul.new-media-item p {
  color: var(--color-grayish-blue);
  margin-bottom: 2rem;
}

ul.new-media-item li {
  border-bottom: 1px solid var(--color-dark-grayish-blue);
}

ul.new-media-item li:last-child {
  border-bottom: none;
}

ul.media-item {
  margin: 4rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

ul.media-item li {
  display: flex;
  gap: 1.5rem;
}

.media-item-illustration {
  width: 100px;
  height: 129px;
  flex-shrink: 0; /*  */
}

.media-item-illustration img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.media-item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.media-item-content .number {
  color: var(--color-soft-red);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.9rem;
}

.media-item-content h3 {
  font-weight: 800;
  margin: 1rem 0 0.75rem;
}

.media-item-content h3 a {
  color: inherit;
  text-decoration: none;
}

.media-item-content h3 a:hover {
  cursor: pointer;
  color: var(--color-soft-red);
}

.media-item-content p {
  color: var(--color-dark-grayish-blue);
  margin-right: 0.5rem;
}
