:root {
  --blue-950: hsl(240, 38%, 20%);
  --gray-400: hsl(240, 18%, 77%);
}

html {
  font-size: 32px;
}

body {
  font-family: "Inter", serif;
  font-weight: 300;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-image: url("img/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: center calc(100% + 0.75rem);
  background-size: contain;
  overflow: hidden;
  min-width: 320px;
}

.slider__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.slider__img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../public/img/pattern-bg.svg");
  background-size: 87%;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__photo {
  margin: 1.6rem 0;
  width: 68vw;
  border-radius: 7px;
  /* box-shadow: 8px 8px 16px var(--blue-950); */
}

.slider__button-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  transform: translate(-50%, -80%);
}

.slider__button {
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
}

.slider__button--prev {
  background-image: url("img/icon-prev.svg");
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.slider__button--next {
  background-image: url("img/icon-next.svg");
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.slider__icon-prev {
  width: 12px;
  height: auto;
  color: var(--gray-400);
}

.slider__icon-next {
  width: 12px;
  height: auto;
  color: var(--gray-400);
}

.slider__text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 1rem 0 2rem;
}

.slider__text {
  font-size: clamp(0.6rem, calc(5vw - 1rem), 3rem);
  color: var(--blue-950);
  padding: 0 0.5rem;
}

.slider__pattern-quotes {
  position: absolute;
  top: -1rem;
  left: 50%;
  color: var(--blue-950);
  width: 2rem;
  height: auto;
  transform: translateX(-50%);
}

.slider__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}

.slider__info-name {
  font-size: 0.5rem;
  font-weight: 800;
  color: var(--blue-950);
}

.slider__info-role {
  font-size: 0.5rem;
  font-weight: 500;
  color: var(--gray-400);
}

@media (min-width: 700px) {
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 700px;
    background-color: lime;
  }

  .slider__slide {
    flex-direction: row-reverse;
  }

  .slider__img-wrapper {
    background-size: contain;
  }

  .slider__photo {
    width: 542px;
    height: auto;
  }

  .slider__button {
    display: block;
  }

  .slider__text {
    text-align: left;
    background-color: blue;
  }

  .slider__pattern-quotes {
    left: 15%;
  }

  .slider__info {
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.25rem;
    width: 100%;
    background-color: red;
  }
}
