:root {
  --blue-950: hsl(240, 38%, 20%);
  --gray-400: hsl(240, 18%, 77%);
}

html {
  font-size: 32px;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Inter", serif;
  font-weight: 300;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-image: url("../public/img/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: center calc(100% + 0.75rem);
  background-size: contain;
  overflow: hidden;
  min-width: 320px;
  max-width: 700px;
}

.slider__track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.slider__img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../public/img/pattern-bg.svg");
  background-size: 87%;
  background-repeat: no-repeat;
  background-position: center;
}

.slider__photo {
  margin: 1.6rem 0;
  width: 68vw;
  border-radius: 7px;
  box-shadow: 0px 30px 15px -7px rgba(0, 0, 0, 0.1),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.slider__button-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  transform: translate(-50%, -80%);
}

.slider__button {
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.slider__button--prev {
  background-image: url("../public/img/icon-prev.svg");
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.slider__button--prev:hover,
.slider__button--next:hover {
  background-color: var(--gray-400);
}

.slider__button--next {
  background-image: url("../public/img/icon-next.svg");
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -1px;
}

.slider__icon-prev {
  width: 12px;
  height: auto;
  color: var(--gray-400);
}

.slider__icon-next {
  width: 12px;
  height: auto;
  color: var(--gray-400);
}

.slider__text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 1rem 0 2rem;
}

.slider__text {
  font-size: 0.6rem;
  color: var(--blue-950);
  padding: 0 0.5rem;
}

.slider__pattern-quotes {
  position: absolute;
  top: -1rem;
  left: 50%;
  color: var(--blue-950);
  width: 2rem;
  height: auto;
  transform: translateX(-50%);
}

.slider__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}

.slider__info-name {
  font-size: 0.5rem;
  font-weight: 800;
  color: var(--blue-950);
}

.slider__info-role {
  font-size: 0.5rem;
  font-weight: 500;
  color: var(--gray-400);
}

@media (min-width: 700px) {
  .slider__photo {
    max-width: 480px;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 700px;
    max-width: unset;
    background-position: center calc(100% + 7rem);
  }

  .slider__slide {
    position: relative;
    flex-direction: row-reverse;
  }

  .slider__img-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-size: contain;
    background-position: right;

    margin: 0 2rem;
  }

  .slider__photo {
    position: relative;
    right: 2.2rem;
    width: 542px;
    height: auto;
  }

  .slider__button-wrapper {
    left: unset;
    right: 12rem;
  }
  .slider__button {
    display: block;
  }

  .slider__text-wrapper {
    position: absolute;
    top: 53%;
    right: 17.5rem;
    margin: unset;
    width: 16rem;
    transform: translateY(-50%);
    z-index: 10;
  }

  .slider__text {
    text-align: left;
    padding: unset;
    font-size: 0.8rem;
  }

  .slider__pattern-quotes {
    width: 2.5rem;
    top: -15%;
    left: 24%;
  }

  .slider__info {
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.25rem;
    width: 100%;
  }
}
