:root {
  --blue-950: hsl(240, 38%, 20%);
  --gray-400: hsl(240, 18%, 77%);
}

html {
  font-size: 32px;
}

body {
  font-family: "Inter", serif;
  font-weight: 300;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.slider__track {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  width: 100%;
}

.slider__img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../public/img/pattern-bg.svg");
  background-size: 87%;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid red;
}

.slider__photo {
  margin: 1.5rem 0;
  width: 68vw;
  border-radius: 0.2rem;
  border: 1px solid red;
}

.slider__button-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 1px solid red;
  transform: translate(-50%, -50%);
}
