:root {
  /* Primary colors */
  --color-green-200: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);

  /* Neutral colors */
  --color-white: hsl(0, 0%, 100%);
  --color-grey-500: hsl(186, 15%, 59%);
  --color-grey-900: hsl(187, 24%, 22%);
}

html {
  font-size: 16px;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--color-green-200);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  margin: 2rem 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 343px;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--color-white);
}

input {
  padding: 10px;
  border: 1px solid var(--color-grey-500);
  border-radius: 10px;
  border-style: none;
}

h1 {
  margin-bottom: 1rem;
  color: var(--color-grey-900);
}

label {
  margin: 0.5rem 0;
  color: var(--color-grey-900);
}

span {
  margin-left: 5px;
  color: var(--color-green-600);
}

.query-heading {
  margin-top: 0.5rem;
  color: var(--color-grey-900);
}

.input-general,
.input-request {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 10px;
  border: 1px solid var(--color-grey-500);
  border-radius: 10px;
  padding-left: 20px;
}

.input-request {
  margin-bottom: 0;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: var(--color-green-600);
}

textarea {
  border-radius: 10px;
}

.required-firstname,
.required-lastname,
.required-email,
.required-query,
.required-message,
.required-consent {
  visibility: hidden;
  font-size: 0.8rem;
  color: var(--color-red);
}

.show {
  visibility: visible;
}

.valid-email {
  font-size: 0.8rem;
  color: var(--color-red);
}

.hidden {
  display: none;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: var(--color-green-600);
}

button {
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-green-600);
  cursor: pointer;
  border-style: none;
}

.succes-message-box {
  display: none;
  position: absolute;
  width: calc(375px - 5rem);
  padding: 1.5rem;
  border-radius: 0.5rem;
  color: var(--color-white);
  background-color: var(--color-green-600);
}

.succes-message-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.succes-message-icon {
  width: 20px;
  height: auto;
}

.succes-message-heading {
  font-weight: bold;
}

.succes-message-text {
  font-size: 1rem;
}
