:root {
  /* Primary colors */
  --color-green-200: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);

  /* Neutral colors */
  --color-white: hsl(0, 0%, 100%);
  --color-grey-500: hsl(186, 15%, 59%);
  --color-grey-900: hsl(187, 24%, 22%);
}

html {
  font-size: 16px;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--color-green-200);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  min-height: 100dvh;
}

form {
  display: flex;
  flex-direction: column;
  width: 343px;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--color-white);
}

input {
  border-style: none;
  border: 1px solid var(--color-grey-500);
  border-radius: 10px;
  padding: 10px;
}

h1 {
  margin-bottom: 1rem;
}

label {
  margin: 0.5rem 0;
  color: var(--color-grey-900);
}

span {
  color: var(--color-green-600);
}

.valid-email,
.required-firstname,
.required-lastname,
.required-email,
.required-query,
.required-message,
.required-consent {
  font-size: 0.8rem;
  color: var(--color-red);
}

.query-heading {
  color: var(--color-grey-900);
}

.input-general,
.input-request {
  /* margin: 0; */
  border: 1px solid var(--color-grey-500);
  padding: 10px;
  border-radius: 10px;
}
