:root {
  /* Primary Colors */
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --light-grayish-blue: hsl(224, 65%, 95%);
  --toggle-bg: hsl(223, 50%, 87%);
  --grayish-blue: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);
}

html {
  font-size: 15px;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--very-pale-blue);
  color: var(--dark-desaturated-blue);
}
