:root {
  --clr-purple-100: hsl(254, 88%, 90%);
  --clr-purple-500: hsl(256, 67%, 59%);
  --clr-yellow-100: hsl(31, 66%, 93%);
  --clr-yellow-500: hsl(39, 100%, 71%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 7%);
}

html {
  font-size: 18px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  background-color: var(--clr-purple-100);
}
