:root {
  --clr-purple-100: hsl(254, 88%, 90%);
  --clr-purple-500: hsl(256, 67%, 59%);
  --clr-yellow-100: hsl(31, 66%, 93%);
  --clr-yellow-500: hsl(39, 100%, 71%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-white-bg: hsl(0, 0%, 96%);
  --clr-black: hsl(0, 0%, 7%);
}

html {
  font-size: 18px;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--clr-white-bg);
  min-width: 375px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 343px;
  gap: 2rem;
  margin: 2rem 0;
}

.top-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--clr-purple-500);
  padding: 2rem;
  border-radius: 0.75rem;
}

h1 {
  color: var(--clr-white);
  text-align: center;
  font-size: 2.4em;
  font-weight: 500;
  line-height: 2rem;
}

h1 span:nth-child(2) {
  color: var(--clr-yellow-500);
}

h1 span:nth-child(3) {
  font-style: italic;
  margin-left: -0.3rem;
}

.top-center img {
  margin: 1.25rem 0 0.3rem;
  width: 10rem;
}

.top-center p {
  color: var(--clr-white);
}

.center-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--clr-white);
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
}

.center-left img {
  margin-bottom: 1rem;
}

.center-left h2 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2rem;
}

.center-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: var(--clr-yellow-500);
  border-radius: 0.75rem;
  padding: 1rem 1rem 0;
  gap: 0.75rem;
}

.center-right h2 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3rem;
}

.center-right img {
  display: block;
  width: 11.5rem;
  height: auto;
}

.crop-box {
  width: auto;
  height: 7.5rem;
  overflow: hidden;
}

.top-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--clr-purple-100);
  border-radius: 0.75rem;
  padding: 1.5rem 1rem;
  text-align: center;
  overflow: visible;
}

.top-right h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.top-right img {
  margin: 1rem 0;
}

.top-right p {
  font-size: 1.02rem;
  font-weight: 500;
  line-height: 1.1rem;
}

.bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--clr-purple-500);
  border-radius: 0.75rem;
  padding: 1rem 3rem;
}

.bottom-right img {
  width: 100%;
  margin-bottom: 1rem;
}

.bottom-right h2 {
  font-size: 1.5rem;
  color: var(--clr-white);
  text-align: center;
  line-height: 1.5rem;
  font-weight: 400;
}

.bottom-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: white;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem 1rem;
  text-align: left;
}

.bottom-center h2 {
  font-size: 1rem;
  font-weight: 400;
}

.bottom-center h2 span {
  font-size: 2.5rem;
  font-weight: 500;
}

.bottom-center img {
  width: 10rem;
  margin-top: 1rem;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: var(--clr-yellow-100);
  border-radius: 0.75rem;
  padding: 1.5rem;
}

.top-left h2 {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.top-left h2 span {
  color: var(--clr-purple-500);
  font-style: italic;
}

.top-left img {
  margin-top: 1rem;
  width: 65%;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: var(--clr-yellow-500);
  border-radius: 0.75rem;
  padding: 1.5rem;
}

.bottom-left h2 {
  font-size: 1.7rem;
  line-height: 1.6rem;
}

.bottom-left img {
  margin-top: 1rem;
  width: 80%;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 256px);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "left-wrapper top-center top-center top-right"
      "left-wrapper center-left center-right top-right"
      "left-wrapper bottom-center bottom-right bottom-right";
    gap: calc((1120px - (4 * 256px)) / 3);
    width: 1120px;
    height: 880px;
    background-color: red;
  }

  .left-wrapper {
    grid-area: left-wrapper;
    height: 100%;
  }

  .left-wrapper > div {
    flex: 1;
  }

  .top-center {
    grid-area: top-center;
    height: 100%;
  }

  .top-right {
    grid-area: top-right;
    text-align: left;
    height: 100%;
    padding: 1.5rem 0 1.5rem 1.5rem;
  }

  .top-right h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .top-right .crop-box-top-right {
    height: 320px;
    width: 230px;
    overflow: hidden;
  }

  .top-right .crop-box-top-right img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: left;
    border-bottom-left-radius: 1rem;
    margin: 0;
    padding: 0;
  }

  .center-left {
    grid-area: center-left;
    height: 100%;
  }

  .center-right {
    grid-area: center-right;
    height: 100%;
  }

  .bottom-center {
    grid-area: bottom-center;
    height: 100%;
  }

  .bottom-right {
    grid-area: bottom-right;
    height: 100%;
  }
}
