:root {
  /* Primary */
  --blue-500: hsl(223, 87%, 63%);

  /* Secondary */
  --blue-200: hsl(223, 100%, 88%);
  --red-400: hsl(354, 100%, 66%);

  /* Neutral */
  --gray-400: hsl(0, 0%, 59%);
  --blue-950: hsl(209, 33%, 12%);
}

html {
  font-size: 20px;
}

body {
  font-family: "Libre Franklin", sans-serif;
  color: var(--blue-950);
  font-weight: 300;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 375px;
  padding: 1.25rem;
  margin: 2rem 0;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

header img {
  width: 3rem;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

h1 {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

h1 span {
  font-weight: 700;
}

p {
  font-size: 0.65rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.input-wrapper {
  width: 100%;
}

input {
  width: 100%;
  padding: 0.5rem;
  padding-left: 1.5rem;
  border-radius: 2rem;
  border-style: none;
  border: 1px solid var(--blue-200);
  outline: none;
  font-size: 0.8rem;
}

input:focus {
  border: 1px solid var(--blue-500);
}

input::placeholder {
  color: var(--blue-200);
  font-size: 0.65rem;
}

.error-message {
  font-size: 0.6rem;
  color: var(--red-400);
  font-style: italic;
  display: none;
  margin: 0.5rem 0 0;
}

.input-wrapper.error .error-message {
  display: block;
}

.succes-message {
  display: block;
  font-size: 0.8rem;
  color: rgb(0, 255, 0);
  text-align: center;
}

.hidden {
  display: none;
}

button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 2rem;
  border-style: none;
  border: 1px solid var(--blue-500);
  font-size: 0.8rem;
  background-color: var(--blue-500);
  color: hsl(0, 100%, 100%);
  font-weight: 600;
  box-shadow: 0 4px 8px var(--blue-200);
}

button:hover {
  box-shadow: none;
  cursor: pointer;
}

main img {
  width: 100%;
  height: auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

footer img {
  height: 30px;
  width: 30px;
  border: 1px solid var(--blue-200);
  border-radius: 50%;
  padding: 0.2rem;
}

footer p {
  color: var(--gray-400);
  font-weight: 300;
  margin: 0;
}
